body {
    display: block;
    margin: 10px;
    background-color: rgba(0, 110, 255, 0.322);
}

#header {
    margin: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#header-img {
    max-width: 300px;
    padding-left: 25px;
}
nav {
    display: block;
}
.nav-link {
    text-decoration-line: none;
    color: black;
    padding-right: 70px;
}
main {
    display: block;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-title {
    font-weight: 600;
    text-align: center;
}
.submit-btn {
    text-align: center;
}
:root {
    font-family: 'Lato', sans-serif;
}
.video {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
script {
    display: none;
}